<section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-xl-7">
          <div class="col-md-12">
            <div class="block card" style="border-radius: 15px; padding: 10px; margin-top: 100px">
              <div class="divider mb-3"></div>
              <span class="text-uppercase text-sm letter-spacing ">Todos las soluciones en un mismo lugar</span>
              <h1 class="mb-3 mt-3">Clinica Online</h1>
              
              <p class="mb-4 pr-5">Sistema de administracion de clinica online</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-3 col-md-12">
          <div class="block card align-items-center" style="border-radius: 15px; padding: 10px; margin-top: 100px">
            <img src="../../../assets/favicon.ico" alt="" height="200px" width="200px">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="feature-block d-lg-flex">
            <div class="feature-item mb-5 mb-lg-0">
              <div class="feature-icon mb-4">
              <img src="https://img.icons8.com/ios/50/000000/login-rounded-right--v1.png"/>
              </div>
              <h4 class="mb-3">Ingresar</h4>
              <p class="mb-4">Ingreso a la clinica online</p>
              <p><a class="btn btn-lg" style="border: solid 2px #8460c4" [routerLink]="['/login']" role="button" appBotonBienvenida>Ingresar &raquo;</a></p>
            </div>
        
            <div class="feature-item mb-5 mb-lg-0">
              <div class="feature-icon mb-4">
                <img src="https://img.icons8.com/external-bearicons-glyph-bearicons/64/000000/external-sign-up-call-to-action-bearicons-glyph-bearicons-1.png"/>
              </div>
              <h4 class="mb-3">Registrarse</h4>
              <p>Registre una nueva cuenta en la clinica</p>
              <p><a class="btn btn-lg" style="border: solid 2px #8460c4" [routerLink]="['/registro']" role="button" appBotonBienvenida>Registrarse &raquo;</a></p>
            </div>

            <div class="feature-item mb-5 mb-lg-0">
              <div class="feature-icon mb-4">
                <img src="https://img.icons8.com/ios-filled/50/000000/clock--v3.png"/>
              </div>
              <h4 class="mb-3">Horarios de trabajo</h4>
              <ul class="w-hours list-unstyled">
                          <li class="d-flex justify-content-between">Lun - Vie : <span>8:00 - 19:00</span></li>
                          <li class="d-flex justify-content-between">Sab : <span>8:00 - 14:00</span></li>
                      </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="col-lg-12">
          <div class="feature-block d-lg-flex">

            <div class="feature-item mb-5 mb-lg-0" *ngIf="this.auth.currentUser != null">
              <div class="feature-icon mb-4">
                <img src="https://img.icons8.com/ios-glyphs/50/000000/user.png"/>
              </div>
              <h4 class="mb-3">Perfil</h4>
              <p>Ingrese a su perfil para ver su historia clinica</p>
              <p><a class="btn btn-lg" style="border: solid 2px #8460c4" [routerLink]="['/perfil']" role="button" appBotonBienvenida>Ir &raquo;</a></p>
            </div>

            <div class="feature-item mb-5 mb-lg-0" *ngIf="this.auth.currentUser != null && this.auth.currentUser?.tipo == 'paciente'">
              <div class="feature-icon mb-4">
                <img src="https://img.icons8.com/ios/50/000000/list--v1.png"/>
              </div>
              <h4 class="mb-3">Mis turnos</h4>
              <p>Ingrese a Mis Turnos para ver sus turnos</p>
              <p><a class="btn btn-lg" style="border: solid 2px #8460c4" [routerLink]="['/turnos/paciente']" role="button" appBotonBienvenida>Ir &raquo;</a></p>
            </div>

            <div class="feature-item mb-5 mb-lg-0" *ngIf="this.auth.currentUser != null && this.auth.currentUser?.tipo == 'especialista'">
              <div class="feature-icon mb-4">
                <img src="https://img.icons8.com/ios/50/000000/list--v1.png"/>
              </div>
              <h4 class="mb-3">Mis turnos</h4>
              <p>Ingrese a Mis Turnos para ver sus turnos</p>
              <p><a class="btn btn-lg" style="border: solid 2px #8460c4" [routerLink]="['/turnos/especialista']" role="button" appBotonBienvenida>Ir &raquo;</a></p>
            </div>

            <div class="feature-item mb-5 mb-lg-0" *ngIf="this.auth.currentUser != null && this.auth.currentUser?.tipo == 'admin'">
              <div class="feature-icon mb-4">
                <img src="https://img.icons8.com/ios/50/000000/list--v1.png"/>
              </div>
              <h4 class="mb-3">Turnos</h4>
              <p>Ingrese a Turnos para ver los turnos de la clinica</p>
              <p><a class="btn btn-lg" style="border: solid 2px #8460c4" [routerLink]="['/turnos/admin']" role="button" appBotonBienvenida>Ir &raquo;</a></p>
            </div>

            <div class="feature-item mb-5 mb-lg-0" *ngIf="this.auth.currentUser != null && this.auth.currentUser?.tipo == 'paciente' || this.auth.currentUser?.tipo == 'admin'">
              <div class="feature-icon mb-4">
                <img src="https://img.icons8.com/ios/50/000000/edit-property.png"/>
              </div>
              <h4 class="mb-3">Solicitar turno</h4>
              <p>Ingrese a Solicitar turno para solicitar turnos</p>
              <p><a class="btn btn-lg" style="border: solid 2px #8460c4" [routerLink]="['/turnos/alta']" role="button" appBotonBienvenida>Ir &raquo;</a></p>
            </div>

            <div class="feature-item mb-5 mb-lg-0" *ngIf="this.auth.currentUser != null && this.auth.currentUser.tipo == 'admin'">
              <div class="feature-icon mb-4">
                <img src="https://img.icons8.com/ios-filled/50/000000/groups.png"/>
              </div>
              <h4 class="mb-3">Seccion usuarios</h4>
              <p>Ingrese a Seccion usuarios para ver todos los datos de la clinica</p>
              <p><a class="btn btn-lg" style="border: solid 2px #8460c4" [routerLink]="['/admin/seccionUsuarios']" role="button" appBotonBienvenida>Ir &raquo;</a></p>
            </div>

            <div class="feature-item mb-5 mb-lg-0" *ngIf="this.auth.currentUser != null && this.auth.currentUser.tipo == 'especialista'">
              <div class="feature-icon mb-4">
                <img src="https://img.icons8.com/ios-filled/50/000000/groups.png"/>
              </div>
              <h4 class="mb-3">Seccion pacientes</h4>
              <p>Ingrese a Seccion pacientes para ver todos los datos de sus pacientes</p>
              <p><a class="btn btn-lg" style="border: solid 2px #8460c4" [routerLink]="['/especialista/seccionPacientes']" role="button" appBotonBienvenida>Ir &raquo;</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  


  <div class="fullscreen-bg"></div>
