
<div class="container card">
  <div class="row d-flex">
    <div class="col-md-12">
        <form [formGroup]="form" (ngSubmit)="this.agregarUsuario()">
            <div class="col-md-6">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" formControlName="nombre" placeholder="" value="" required>
              <small *ngIf="form.controls.nombre.errors?.required && form.controls.nombre.touched" class="text-danger">El nombre es requerido</small>
            </div>

            <div class="col-md-6">
              <label for="apellido">Apellido</label>
              <input type="text" class="form-control" formControlName="apellido" placeholder="" value="" required>
              <small class="text-danger" *ngIf="form.controls.apellido.errors?.required && form.controls.apellido.touched">El apellido es requerido</small>
            </div>

            <div class="col-md-6">
              <label for="edad">Edad</label>
              <input type="number" class="form-control" formControlName="edad" placeholder="" value="" required>
              <small class="text-danger" *ngIf="form.controls.edad.errors?.required && form.controls.edad.touched">La edad es requerida</small>
              <small class="text-danger" *ngIf="form.controls.edad.errors?.min || form.controls.edad.errors?.max && form.controls.dni.touched">La edad debe estar entre 1 y 150</small>
            </div>

            <div class="col-md-6">
              <label for="dni">DNI</label>
              <input type="number" class="form-control" formControlName="dni" placeholder="" value="" required>
              <small class="text-danger" *ngIf="form.controls.dni.errors?.required && form.controls.dni.touched">El DNI es requerido</small>
              <small class="text-danger" *ngIf="form.controls.dni.errors?.min || form.controls.dni.errors?.max && form.controls.dni.touched">El DNI no es valido</small>
            </div>
            
            <div class="col-md-6" *ngIf="this.tipoUsuario === 'paciente'">
              <label for="obraSocial">Obra social</label>
              <input type="text" class="form-control" formControlName="obraSocial" placeholder="" value="" required>
              <small class="text-danger" *ngIf="form.controls.obraSocial.errors?.required && form.controls.obraSocial.touched">La obra social es requerida</small>
            </div>

            <div class="col-md-6" *ngIf="this.tipoUsuario == 'especialista'">
              <label for="especialidad">Especialidades</label>
              <input type="text" class="form-control" id="especialidad" formControlName="especialidades" list="especialidades" autocomplete="off">
                    <datalist id="especialidades">
                        <option *ngFor="let item of especialidadesBD" value="{{item.especialidad}}">
                      </datalist>
              <button type="button" class="btn btn-primary btn-sm" (click)="sumarEspecialidades()">Agregar</button>
              <small>{{this.arrEspecialidades}}</small>
              <small class="text-danger" *ngIf="form.controls.especialidades.errors?.required && form.controls.especialidades.touched">La especialidad es requerida</small>
            </div>
            
            <div class="col-md-6">
              <label for="mail">Mail</label>
              <input type="text" class="form-control" formControlName="mail" placeholder="" value="" required>
              <small class="text-danger" *ngIf="form.controls.mail.errors?.required && form.controls.mail.touched">El mail es requerido</small>
            </div>

            <div class="col-md-6">
              <label for="contrasena">Contraseña</label>
              <input type="password" class="form-control" formControlName="contrasena" placeholder="" value="" required>
              <small class="text-danger" *ngIf="form.controls.contrasena.errors?.required && form.controls.contrasena.touched">La contrasena es requerida</small>
            </div>

            <div class="col-md-6" *ngIf="this.tipoUsuario == 'paciente'">
              <label for="fotoPerfil">Foto de perfil</label>
              <input type="file" (change)="uploadFile($event)" class="form-control" formControlName="fotoPerfil" placeholder="" value="" multiple required>
              <small class="text-danger" *ngIf="form.controls.fotoPerfil.errors?.required && form.controls.fotoPerfil.touched">La foto de perfil es requerida</small>
            </div>

            <div class="col-md-6" *ngIf="this.tipoUsuario != 'paciente'">
              <label for="fotoPerfil">Foto de perfil</label>
              <input type="file" (change)="uploadFile($event)" class="form-control" formControlName="fotoPerfil" placeholder="" value="" required>
              <small class="text-danger" *ngIf="form.controls.fotoPerfil.errors?.required && form.controls.fotoPerfil.touched">La foto de perfil es requerida</small>
            </div>

            <div class="row">
              <div class="col-md-12 mb-5">
                <label for="captcha">Ingrese los siguientes numeros: {{numCaptcha}}</label>
                <div class="d-flex">
                  <div class="flex-grow-1">
                    <input type="number" id="captcha" class="form-control" (change)="validarCaptcha($event)">
                  </div>
                  <button type="button" class="btn btn-success" style="margin-left: 5px" (click)="generarCaptcha()">Cambiar</button>
                </div>
              </div>
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-md btn-block" style="margin-top: 5px" [disabled]="form.invalid || !this.captchaValido">
                  Agregar {{this.tipoUsuario}}
                </button>
              </div>
            </div>
        </form>
      </div>
  </div>
  
</div>

<div class="fullscreen-bg"></div>

