



  <div class="container" style="margin-top: 70px">
    <app-tabla-turnos-especialista (cancelar)="cancelarTurno($event)" (resena)="verResena($event)" (rechazar)="rechazarTurno($event)" (finalizar)="finalizarTurno($event)"></app-tabla-turnos-especialista>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-12 card slide-in-elliptic-top-fwd"  style="margin-top: 20px;"  *ngIf="this.mostrarCancelar">
        <h2>Cancelar turno</h2>
        <app-cancelar-turno [cancelar]="cancelar"></app-cancelar-turno>
      </div>
      <div class="col-md-12 card slide-in-elliptic-top-fwd"  style="margin-top: 20px;" *ngIf="this.mostrarResena">
        <h2>Ver reseña</h2>
        <app-ver-resena-turno-especialista [resena]="resena"></app-ver-resena-turno-especialista >
      </div>
      <div class="col-md-12 card slide-in-elliptic-top-fwd"  style="margin-top: 20px;"  *ngIf="this.mostrarRechazar">
        <h2>Rechazar turno</h2>
        <app-rechazar-turno-especialista [rechazar]="rechazar"></app-rechazar-turno-especialista>
      </div>
      <div class="col-md-12 card slide-in-elliptic-top-fwd"  style="margin-top: 20px;"  *ngIf="this.mostrarFinalizar">
        <h2>Finalizar turno</h2>
        <app-finalizar-turno-especialista [finalizar]="finalizar"></app-finalizar-turno-especialista>
      </div>
    </div>

    <hr>

  </div> 

  <div class="fullscreen-bg"></div>


