
    <div class="container" style="margin-top: 70px">
      <app-tabla-turnos-paciente (cancelar)="cancelarTurno($event)" (resena)="verResena($event)" (encuesta)="completarEncuesta($event)" (atencion)="calificarAtencion($event)"></app-tabla-turnos-paciente>
    </div>


  <div class="container">
    <div class="row">
      <div class="col-md-12 card slide-in-elliptic-top-fwd" style="margin-top: 20px;" *ngIf="this.mostrarCancelar">
        <h2>Cancelar turno</h2>
        <app-cancelar-turno [cancelar]="cancelar"></app-cancelar-turno>
      </div>
      <div class="col-md-12 card slide-in-elliptic-top-fwd" style="margin-top: 20px;"  *ngIf="this.mostrarResena">
        <h2>Ver reseña</h2>
        <app-ver-resena [resena]="resena"></app-ver-resena>
      </div>
      <div class="col-md-12 card slide-in-elliptic-top-fwd" style="margin-top: 20px;" *ngIf="this.mostrarEncuesta">
        <h2>Completar encuesta</h2>
        <app-completar-encuesta [encuesta]="encuesta"></app-completar-encuesta>
      </div>
      <div class="col-md-12 card slide-in-elliptic-top-fwd" style="margin-top: 20px;" *ngIf="this.mostrarAtencion">
        <h2>Calificar atención</h2>
        <app-calificar-atencion [atencion]="atencion"></app-calificar-atencion>
      </div>
    </div>

    <hr>

  </div> 

  <div class="fullscreen-bg"></div>