
<div class="container card slide-in-elliptic-top-fwd" style="margin-top: 70px; padding: 20px">
  <div class="py-5 text-center">
    <h2>Login</h2>
  </div>

  <div class="row">
      <div class="col-md-12 order-md-1">
        <form class="needs-validation" novalidate [formGroup]="grupoDeControles" (ngSubmit)="this.ingresar()">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="mail">Mail</label>
              <input type="text" class="form-control" formControlName="mail" placeholder="" value="" required>
              <small *ngIf="grupoDeControles.controls.mail.errors?.required && grupoDeControles.controls.mail.touched" class="text-danger">El mail es requerido</small>
              <small *ngIf="grupoDeControles.controls.mail.errors?.email && grupoDeControles.controls.mail.touched" class="text-danger">El mail debe ser valido</small>
            </div>
            <div class="col-md-6 mb-3">
              <label for="password">Contraseña</label>
              <input type="password" class="form-control" formControlName="contrasena" placeholder="" value="" required>
              <small class="text-danger" *ngIf="grupoDeControles.controls.contrasena.errors?.required && grupoDeControles.controls.contrasena.touched">La contraseña es requerida</small>
            </div>
          </div>
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="grupoDeControles.invalid">Ingresar</button>
        </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mx-0" style="justify-content: center;">
    <div style="justify-content: center; width: 18rem; margin-top: 20px" *ngFor="let item of arrUsuarios">
      <div class="card slide-in-elliptic-top-fwd" style="border-radius: 15px; padding: 10px;">
        <h4>{{tipoUsuarioPipe.transform(item)}}</h4>
        <div class="d-flex justify-content-center">
          <img
          [src]="item.fotoPerfil"
          class="rounded-circle img-fluid card-img-top" style="width: 150px; height: 150px; display: block; margin: 0" alt="Card image cap"
          />
        </div>
        <div class="card-body">
          <h4 class="card-title">{{item.nombre + ' ' + item.apellido}}</h4>
          <button type="button" class="btn btn-primary btn-lg text-white" (click)="this.loginValido(item)">Ingresar</button>
        </div>
      </div>
    </div>
  </div>
</div>




  <div class="fullscreen-bg"></div>
