



  <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="container" style="margin-top: 70px">
      <app-tabla-turnos-administrador (cancelar)="cancelarTurno($event)"></app-tabla-turnos-administrador>
    </div>


  <div class="container">
    <div class="row">
      <div class="col-md-12 card slide-in-elliptic-top-fwd" style="margin-top: 20px" *ngIf="this.mostrarCancelar">
        <h2>Cancelar turno</h2>
        <app-cancelar-turno-administrador [cancelar]="cancelar"></app-cancelar-turno-administrador>
      </div>
    </div>

    <hr>

  </div> 



<div class="fullscreen-bg"></div>